@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url(fuente/RobotoCondensed-Regular); }

@font-face {
  font-family: "RobotoCondensed-Light";
  src: url(fuente/RobotoCondensed-Light.ttf); }

@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url(fuente/RobotoCondensed-Bold.ttf); }

* {
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: white;
  font-family: sans-serif; }

.header {
  background: linear-gradient(30deg, #df0155, #ed4901);
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto; }

.nav-link {
  color: white;
  text-decoration: none; }

.logo img {
  height: 70px;
  margin-right: 10px; }

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none; }

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content; }

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px; }

.nav-menu-link:hover {
  background-color: grey;
  transition: 0.5s; }

/*INICIO*/
main {
  background-color: #c6c6c6;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 15px;
  width: 100; }

footer {
  height: 50px;
  background-color: #df0155;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  footer p {
    color: white;
    font-size: 20px; }

.presentacion {
  position: static;
  width: 100%;
  margin-top: -10px;
  right: 0;
  left: 0; }

/*Inicio*/
.contenido {
  width: 100%;
  display: flex;
  justify-content: center;
  display: grid;
  justify-items: center;
  padding-top: 20px;
  grid-template-columns: 520px 520px;
  grid-template-rows: 50px 300px;
  padding-top: 35px; }
  .contenido h1 {
    text-transform: uppercase; }
  .contenido p {
    font-size: 25px;
    text-align: justify; }
  .contenido a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 20px;
    background-color: red;
    border-radius: 12px; }

/*VIDEO*/
.video {
  padding-top: 50px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .video .vid {
    padding-top: 20px;
    width: 420px;
    height: 380px; }

.desc {
  display: flex;
  flex-direction: column;
  align-items: center; }

/*Canal*/
.galeria {
  width: 100%;
  height: 600px;
  overflow: hidden; }

.galeria ul {
  display: flex;
  animation: cambio 20s infinite alternate linear;
  width: 400%; }

.galeria li {
  width: 100%;
  list-style: none; }

.galeria img {
  width: 100%;
  height: 100%; }

@keyframes cambio {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  100% {
    margin-left: -300%; } }

.juego:hover {
  transform: scale(1.1);
  transition: 0.5s; }

/*ACERCA DE*/
.desc {
  padding: 20px 15px 20px 15px;
  display: flex;
  justify-content: center; }
  .desc p {
    font-size: 25px;
    padding: 25px 100px 5px 100px; }

/* TOGGLE */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 25px;
  padding: 0 20px 25px;
  line-height: 60px;
  cursor: pointer;
  display: none; }

/*Tablet*/
@media (max-width: 768px) {
  body {
    padding-top: 70px; }
  .header {
    height: 60px; }
  .logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px; }
  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: gray;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s; }
  .nav-menu-item {
    line-height: 70px; }
  .nav-menu-link:hover {
    background: none;
    color: red; }
  .nav-toggle {
    display: block; }
  .nav-menu_visible {
    left: 0; }
  .nav-toggle:focus:not(:focus-visible) {
    outline: none; }
  /*INICIO*/
  .contenido {
    display: none;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    .contenido iframe {
      width: 100%;
      height: 500%; }
    .contenido p {
      padding-top: 15px; }
    .contenido img {
      width: 100%;
      height: 50%; }
  /*VIDEO*/
  .video {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .video .vid {
      width: 100%; } }

.boton {
  display: flex;
  justify-content: center; }
  .boton a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 20px;
    background-color: red;
    border-radius: 12px;
    transition: width; }

/*CANAL*/
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .slider, .slider ul, .slider img {
    height: 100vh; } }

.juegos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .juegos img {
    padding-right: 10px;
    padding-top: 10px;
    width: 30%;
    height: 30%;
    border-radius: 15px; }

/*Celular*/
