@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url(fuente/RobotoCondensed-Regular); }

@font-face {
  font-family: "RobotoCondensed-Light";
  src: url(fuente/RobotoCondensed-Light.ttf); }

@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url(fuente/RobotoCondensed-Bold.ttf); }

* {
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: white;
  font-family: sans-serif; }

.header {
  background: linear-gradient(30deg, #df0155, #ed4901);
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto; }

.nav-link {
  color: white;
  text-decoration: none; }

.logo img {
  height: 70px;
  margin-right: 10px; }

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none; }

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content; }

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px; }

.nav-menu-link:hover {
  background-color: grey;
  transition: 0.5s; }

/*INICIO*/
main {
  background-color: #c6c6c6;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 15px;
  width: 100; }

footer {
  height: 50px;
  background-color: #df0155;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  footer p {
    color: white;
    font-size: 20px; }

.presentacion {
  position: static;
  width: 100%;
  margin-top: -10px;
  right: 0;
  left: 0; }

/*Inicio*/
.contenido {
  width: 100%;
  display: flex;
  justify-content: center;
  display: grid;
  justify-items: center;
  padding-top: 20px;
  grid-template-columns: 520px 520px;
  grid-template-rows: 50px 300px;
  padding-top: 35px; }
  .contenido iframe {
    padding-right: 20px;
    width: 100%;
    height: 290px; }
  .contenido h1 {
    text-transform: uppercase; }
  .contenido p {
    font-size: 25px;
    text-align: justify; }
  .contenido a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 20px;
    background-color: red;
    border-radius: 12px; }

/*Canal*/
.galeria {
  width: 100%;
  height: 600px;
  overflow: hidden; }

.galeria ul {
  display: flex;
  animation: cambio 20s infinite alternate linear;
  width: 400%; }

.galeria li {
  width: 100%;
  list-style: none; }

.galeria img {
  width: 100%;
  height: 100%; }

@keyframes cambio {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  100% {
    margin-left: -300%; } }

/* TOGGLE */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 25px;
  padding: 0 20px 25px;
  line-height: 60px;
  cursor: pointer;
  display: none; }

@media (min-width: 1920px) {
  /*INICIO*/
  /*VIDEOS*/
  .video {
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap; }
    .video iframe {
      padding: 10px 30px 10px 30px;
      width: 50%;
      height: 500px; }
  .boton {
    display: flex;
    justify-content: center; }
    .boton a {
      text-decoration: none;
      color: white;
      text-align: center;
      padding: 10px 10px 10px 10px;
      text-decoration: none;
      font-size: 20px;
      background-color: red;
      border-radius: 12px;
      transition: width; }
  /*JUEGOS*/
  .tit {
    padding-top: 15px;
    padding-left: 70px; }
  .sinopsis {
    padding: 0 100px 0 100px;
    display: flex;
    flex-direction: row; }
    .sinopsis .portada {
      width: 15%;
      box-shadow: 3px 1px 10px; }
    .sinopsis p {
      padding: 10px 50px 0 50px;
      font-size: 30px;
      text-align: justify; }
  /*CANAL*/
  .galeria {
    width: 100%;
    height: 500px;
    overflow: hidden; }
  .titulo {
    padding: 25px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    text-shadow: 1px 2px 3px #717171; }
  .juegos {
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .juegos img {
      padding-right: 10px;
      padding-top: 10px;
      width: 20%;
      height: 20%;
      border-radius: 20px; }
  .juego:hover {
    transform: scale(1.1);
    transition: 0.5s; }
  .directos {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .directos .directo {
      padding: 20px 0 20px 0;
      width: 50%;
      height: 550px; }
  /*ACERCA DE*/
  .desc {
    display: flex;
    flex-direction: column; }
    .desc h1 {
      font-size: 50px;
      text-align: center;
      text-shadow: 1px 2px 3px #444444; }
    .desc p {
      padding: 20px 100px 0 100px;
      font-size: 30px;
      text-align: center; }
  footer p {
    font-size: 20px; } }

/*---->Tablet<----*/
@media (max-width: 768px) {
  body {
    padding-top: 70px; }
  .header {
    height: 60px; }
  .logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px; }
  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: gray;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s; }
  .nav-menu-item {
    line-height: 70px; }
  .nav-menu-link:hover {
    background: none;
    color: red; }
  .nav-toggle {
    display: block; }
  .nav-menu_visible {
    left: 0; }
  .nav-toggle:focus:not(:focus-visible) {
    outline: none; }
  /*INICIO*/
  main {
    width: 100%;
    height: 100%; }
  .contenido {
    display: none;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    .contenido iframe {
      width: 100%;
      height: 400px; }
    .contenido p {
      padding-top: 15px; }
    .contenido img {
      width: 100%;
      height: 50%;
      -webkit-box-shadow: 15px 15px 32px -6px rgba(0, 0, 0, 0.42);
      -moz-box-shadow: 15px 15px 32px -6px rgba(0, 0, 0, 0.42);
      box-shadow: 15px 15px 32px -6px rgba(0, 0, 0, 0.42); }
  /*VIDEO*/
  .video {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .video iframe {
      padding: 10px 20px 10px 20px;
      height: 200px; }
  .boton {
    display: flex;
    justify-content: center; }
    .boton a {
      text-decoration: none;
      color: white;
      text-align: center;
      padding: 10px 10px 10px 10px;
      text-decoration: none;
      font-size: 20px;
      background-color: red;
      border-radius: 12px;
      transition: width; }
  /*JUEGOS*/
  .tit {
    padding-top: 15px; }
  .sinopsis {
    padding-top: 25px;
    display: flex;
    flex-direction: row; }
    .sinopsis .portada {
      width: 25%;
      box-shadow: 3px 1px 10px; }
    .sinopsis p {
      padding-left: 25px;
      font-size: 20px;
      text-align: justify; }
  /*CANAL*/
  .galeria {
    width: 100%;
    height: 300px;
    overflow: hidden; }
  .titulo {
    display: flex;
    justify-content: center;
    text-shadow: 1px 2px 3px #717171; }
  .juegos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .juegos img {
      padding-right: 10px;
      padding-top: 10px;
      width: 30%;
      height: 30%;
      border-radius: 20px; }
  .directo {
    width: 100%;
    height: 370px;
    -webkit-box-shadow: 15px 15px 32px -6px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 15px 15px 32px -6px rgba(0, 0, 0, 0.42);
    box-shadow: 15px 15px 32px -6px rgba(0, 0, 0, 0.42); }
  /*Acerca De*/
  .desc {
    display: flex;
    flex-direction: column; }
    .desc h1 {
      text-align: center;
      text-shadow: 1px 2px 3px #444444; }
    .desc p {
      padding: 20px 30px 0 30px;
      text-align: justify;
      font-size: 30px; }
  footer p {
    font-size: 12px; } }

/*---->CELULAR<-----*/
@media (max-width: 390px) {
  /*INICIO*/
  .contenido {
    display: none;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    .contenido h1 {
      padding-top: 15px; }
    .contenido iframe {
      width: 100%;
      height: 165px; }
    .contenido p {
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 15px; }
    .contenido img {
      width: 100%;
      height: 50%;
      -webkit-box-shadow: 15px 15px 32px -6px rgba(0, 0, 0, 0.42);
      -moz-box-shadow: 15px 15px 32px -6px rgba(0, 0, 0, 0.42);
      box-shadow: 15px 15px 32px -6px rgba(0, 0, 0, 0.42); }
  /*JUEGOS*/
  .tit {
    padding-top: 15px; }
  .sinopsis {
    padding-top: 25px;
    display: flex;
    flex-direction: row; }
    .sinopsis .portada {
      width: 150px;
      box-shadow: 3px 1px 10px; }
    .sinopsis p {
      padding-left: 25px;
      font-size: 13px;
      text-align: justify; }
  /*CANAL*/
  .galeria {
    width: 100%;
    height: 150px;
    overflow: hidden; }
    .galeria .titulo {
      padding-bottom: 10px; }
  .directo {
    width: 100%;
    height: 240px;
    -webkit-box-shadow: 15px 15px 32px -6px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 15px 15px 32px -6px rgba(0, 0, 0, 0.42);
    box-shadow: 15px 15px 32px -6px rgba(0, 0, 0, 0.42); }
  /*VIDEOS*/
  .video {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .video iframe {
      padding: 10px 0 10px 0;
      width: 100%;
      height: 210px; }
  /*Acerca De*/
  .desc h1 {
    padding: 15px;
    text-shadow: 1px 2px 3px #444444; }
  .desc p {
    font-size: 20px;
    text-align: justify; } }
